<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>608261211107-07tph27m0ho8sc0jl5oav5u48hbhaksn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608261211107-07tph27m0ho8sc0jl5oav5u48hbhaksn</string>
	<key>API_KEY</key>
	<string>AIzaSyByprESSy5XDBiHUu0w6ms57hoHW3S71-o</string>
	<key>GCM_SENDER_ID</key>
	<string>608261211107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.floridaAppStore</string>
	<key>PROJECT_ID</key>
	<string>florida-50c8b</string>
	<key>STORAGE_BUCKET</key>
	<string>florida-50c8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608261211107:ios:c3eb1fae38412ce37956d6</string>
</dict>
</plist>